html {
  overflow-y: scroll;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #444444;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

/*Navbar*/

.navbar {
  background: #eae9e7;
}

.navbar-brand,
.navbar-brand:hover {
  color: #a3a3a8;
}

.nav-link {
  color: #444444;
}

.nav-link:hover,
.active {
  color: #69c1d3;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*About*/

.email {
  color: #69c1d3;
  text-decoration: none;
}

i {
  color: #ee5260;
}

/*Works*/

img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/*Footer*/

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #eae9e7;
}

/*Media Queries*/

@media only screen and (max-width: 320px) {
  .gal {
    margin-left: 2.4rem;
    padding-bottom: 33px;
  }

  i {
    padding-top: 2rem;
    padding-left: 7.5rem;
  }
}

@media only screen and (min-width: 375px) {
  .gal {
    margin-left: 1.2rem;
    padding-bottom: 33px;
  }
}

@media only screen and (min-width: 425px) {
  .gal {
    margin-left: 2.7rem;
  }
}

@media only screen and (min-width: 768px) {
  .gal {
    margin-left: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .gal {
    margin-left: 3.8rem;
  }
}
